/******************************************************************************/
/* Panel                                                                      */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-panel {
  margin-top: 2em;
  position: relative;
}

.c-panel > * + * {
  margin-top: .5em;
}

/* Elements */
/******************************************************************************/
.c-panel__gutter {
  color: var(--color-utility-dove);
  position: absolute;
  right: calc(100% + 1em);
  top: .1em;
}
