{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-whitespace-inside": null,
    "number-leading-zero": null,
    "comment-empty-line-before": null,
    "block-no-empty": null,
    "selector-max-specificity": "0,3,0"
  }
}
