.Dialogue {
  display: flex;
  flex-wrap: wrap;
}

.Dialogue__meta {
  flex: 0 0 45%;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: 1em;
  max-width: 245px;
}

.Dialogue__content {
  flex: 1 1 0%;
}
