/******************************************************************************/
/* Button                                                                     */
/******************************************************************************/

/* Notes:
 * 1. "acitve" needs to be lower in the stylesheet so it overides other stats of
 *    button in transparent mode.
*/

/* Block */
/******************************************************************************/
.c-button {
  background-color: var(--color-utility-milk);
  border-radius: 5px;
  border: 0;
  color: var(--color-utility-black);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  padding: .25em 1em;
  text-align: center;
  transition:
    color .2s,
    background-color .2s,
    box-shadow .2s;
  user-select: none;
  vertical-align: middle;
}

.c-button:hover {
  box-shadow:
    inset 200px 0 0 0 rgba(255, 255, 255, .2),
    inset 0 -.125em 0 0 rgba(0, 0, 0, .4);
}

/* Modifiers */
/******************************************************************************/
/* Types*/
.c-button--transparent {
  background-color: transparent;
  box-shadow:
    inset 200px 0 0 0 rgba(255, 255, 255, .1),
    inset 0 -.125em 0 0 rgba(0, 0, 0, .25);
  color: inherit;
  outline-color: inherit;
}

.c-button:active, /* 1 */
.c-button--active {
  box-shadow:
    inset 200px 0 0 0 rgba(0, 0, 0, .2),
    inset 0 .125em 0 0 rgba(0, 0, 0, .25);
  transition: color .2s, background-color .2s;
}

/* Shapes */
.c-button--block {
  display: block;
  text-align: center;
}
