/******************************************************************************/
/* CodeMirror                                                                 */
/******************************************************************************/
/*
 * 1. The superflurous attribute selector is here to out-specify a codemirror
 *    selector.The codemirror selector is `.CodeMirror-wrap pre` (011) and this
 *    is 020
 * 2. the width in "X's" on each side.
 * 3. Each Line of code.
 * 4. Wraps the text in each line's gutter value.
 * 5. Turning off "focus" outline for the editor.
 *    TODO: What's the right way to make this a11y without it looking like total
 *          shit?
 * 6. Resetting z-index to creat a new stacking context for this Component.
*/

/* Block */
/******************************************************************************/
.c-codemirror {
  background-color: var(--color-utility-pure);
  border-left: 2px solid var(--color-utility-milk);
  border-right: 2px solid var(--color-utility-milk);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5ex; /* 2 */
  padding-right: 3ex; /* 2 */
  width: 100%;
  z-index: 0; /* 6 */
}

/* Misc */
/******************************************************************************/
.CodeMirror-placeholder[class] { /* 1 */
  color: var(--color-utility-dove);
}

.CodeMirror-line[class] {} /* 3 */

.CodeMirror-gutter-elt { /* 4 */
  align-items: flex-start;
  bottom: 0;
  display: flex;
  top: 0;
}

.CodeMirror-gutter-wrapper {
  bottom: 0;
  top: 0;
}

.CodeMirror *:focus { /* 5 */
  outline: none;
}

/* panel count line widget */
.panel-count {
  color: var(--color-utility-dove);
}
