/******************************************************************************/
/* CodeMirror                                                                 */
/******************************************************************************/
/*
 * 1. The superflurous attribute selector is here to out-specify a codemirror
 *    selector. The codemirror selector is `.CodeMirror-wrap pre` (011) and this
 *    is 020
 * 2. the width in "X's" on each side.
 * 3. Wraps the text in each line's gutter value.
 * 4. Turning off "focus" outline for the editor.
 *    TODO: What's the right way to make this a11y without it looking like total
 *          shit?
 * 5. Resetting z-index to create a new stacking context for this Component.
 * 6. Panel Count line widget
 * 7. Controls right hand side margin of editor
 * 8. Need to use padding here, because margin is being controled by codemirror.
 *    Might need to find a fix for this later. but now we have full width
 *    scroll
*/

/* Block */
/******************************************************************************/
.c-codemirror {
  height: 100%;
  padding-left: 1.5ex; /* 2 */
  flex: 1 1 0;
  z-index: 0; /* 5 */
}

.CodeMirror-sizer {
  margin-right: 15%; /* 7 */
  padding-left: 15%; /* 8 */
}

/* Misc */
/******************************************************************************/
.CodeMirror {
  font-family: sans-serif;
}

.CodeMirror-placeholder[class] { /* 1 */
  color: var(--color-utility-dove);
}

.CodeMirror-gutter-elt { /* 3 */
  align-items: flex-start;
  display: flex;
}

.CodeMirror *:focus { /* 4 */
  outline: none;
}

.panel-count { /* 6 */
  color: var(--color-utility-dove);
  user-select: none;
}
/* Scrollbar */
/******************************************************************************/

.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
}

.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
  background: #eee;
}

.CodeMirror-simplescroll-horizontal {
  height: 7px;
}

.CodeMirror-simplescroll-vertical {
  width: 7px;
}
