/******************************************************************************/
/* Themes                                                                     */
/******************************************************************************/
/*
 * 1. vertical background for the word count gutter.
 *    TODO: How will we scope this?
*/

/* Light Theme */
/******************************************************************************/
.cm-s-comic-writer-light .cm-page {
  color: var(--color-primary-cool);
  font-weight: bold;
  font-size: 1.5em;
}

.cm-s-comic-writer-light .cm-panel {
  color: var(--color-utility-charcoal);
  font-weight: bold;
}

.cm-s-comic-writer-light .cm-dialogue {
  color: var(--color-utility-charcoal);
}

.cm-s-comic-writer-light .cm-sfx {
  color: var(--color-utility-charcoal);
}

.cm-s-comic-writer-light .cm-caption {
  color: var(--color-utility-charcoal);
}

.cm-s-comic-writer-light .cm-lettering-subject {
  text-transform: uppercase;
}

/* Style tab stops of lettering snippet */
.lettering-snippet .cm-lettering-subject,
.lettering-snippet .cm-lettering-modifier,
.lettering-snippet .cm-lettering-content {
  outline: 1px solid var(--color-utility-dove);
}

.cm-s-comic-writer-light .cm-lettering-bold {
  font-weight: bold;
  text-decoration: underline;
}

/* Gutters */
.word-counts { /* 1 */
  border-right: 2px solid var(--color-utility-alabaster);
  width: 2em;
}

.word-count--page {
  padding-top: .4em;
}

.CodeMirror-gutter-elt {  /* 1 */
  color: var(--color-utility-dove);
}

.CodeMirror-gutters {  /* 1 */
  background-color: transparent;
  border-right: none;
}
