/******************************************************************************/
/* CodeMirror                                                                 */
/******************************************************************************/
/*
 * 1. The superflurous attribute selector is here to out-specify a codemirror
 *    selector.The codemirror selector is `.CodeMirror-wrap pre` (011) and this
 *    is 020
 * 2. the width in "X's" on each side.
 * 3. Each Line of code.
 * 4. Wraps the text in each line's gutter value.
*/

/* Block */
/******************************************************************************/
.c-codemirror {
  height: 100%;
  padding-left: 1.5ex; /* 2 */
  padding-right: 3ex; /* 2 */
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: var(--color-utility-pure);
  border-left: 1px solid var(--color-utility-milk);
  border-right: 1px solid var(--color-utility-milk);
}

/* Misc */
/******************************************************************************/
.CodeMirror-placeholder[class] { /* 1 */
  color: var(--color-utility-dove);
}

.CodeMirror-line[class] {} /* 3 */

.CodeMirror-gutter-elt { /* 4 */
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.CodeMirror-gutter-wrapper {
  top: 0;
  bottom: 0;
}
