/******************************************************************************/
/* Editor                                                                     */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-editor {
  flex: 1 1 47%;
  overflow-y: auto;
  will-change: scroll-position;
}

/* Elements */
/******************************************************************************/
.c-editor__textarea {
  background-color: transparent;
  border: 0;
  color: #232323;
  font-family: monospace;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
  padding: 1em;
  position: relative;
  resize: none;
  width: 100%;
}

.c-editor__textarea:focus {
  /*csslint outline-none: false*/
  outline: none;
}

.c-editor__scrollpast {
  height: 25vh;
}
