.Editor {
  flex: 0 0 50%;
  border: 0;
  border-right: 1px solid #eeeeee;
  resize: none;
  padding-left: 1em;
  padding-right: 1em;
  outline: none;
  background-color: #fafafa;
  font-family: monospace;
  font-size: 1em;
  color: #232323
}
