/******************************************************************************/
/* Menu Bar                                                                   */
/******************************************************************************/
/*
 * 1. This "pushes" objects in the flex apart.
*/

/* Block */
/******************************************************************************/
.c-menu-bar {
  background-color: var(--color-utility-pure);
  border-bottom: 1px solid var(--color-utility-milk);
  display: flex;
  padding: .25em;
}

.c-menu-bar > * + * {
  margin-left: .5em;
}

/* Elements */
/******************************************************************************/
.c-menu-bar__spacer {
  flex: 1 1 0%; /* 1 */
}
