/******************************************************************************/
/* Menu Bar                                                                   */
/******************************************************************************/
/*
 * 1. This "pushes" objects in the flex apart.
*/

/* Block */
/******************************************************************************/
.c-menu-bar {
  align-items: center;
  display: flex;
  padding: .25em .5em .25em 1em;
}

.c-menu-bar > * + * {
  margin-left: .5em;
}

/* Elements */
/******************************************************************************/
.c-menu-bar__spacer {
  flex: 1 1 0%; /* 1 */
}

.c-menu-bar--primary {
  background-color: var(--color-primary-cool);
  box-shadow: 0 .25em 0 0 var(--color-effect-ghost);
  color: var(--color-utility-pure);
}
