/******************************************************************************/
/* Stat                                                */
/******************************************************************************/

/* Notes:
 * 1.
*/

/* Block */
/******************************************************************************/
.c-stat {
  padding-left: 1em;
  padding-right: 1em;
}

.c-stat + .c-stat {
  border-left: 1px solid var(--color-utility-milk);
}

/* Element */
/******************************************************************************/
/* .c-stat__element {} */

/* Modifier */
/******************************************************************************/
.c-stat--text {
  /* flex: 0 0 10em; */
}

.c-stat--histo {
  flex: 1 1 0%;
}
/* Misc */
/******************************************************************************/
