/******************************************************************************/
/* Stat                                                                       */
/******************************************************************************/

/* Notes:
 * 1.
*/

/* Block */
/******************************************************************************/
.c-stat {
  padding-right: 1em;
}

.c-stat + .c-stat {
  border-left: 2px solid var(--color-utility-milk);
  padding-left: 1em;
}

/* Element */
/******************************************************************************/
/* .c-stat__element {} */

/* Modifier */
/******************************************************************************/
.c-stat--text {
  flex: 0 0 auto;
}

.c-stat--histo {
  flex: 1 1 0%;
}
/* Misc */
/******************************************************************************/
