/******************************************************************************/
/* Button                                                                     */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-status-line {
  background-color: var(--color-utility-pure);
  border-top: 1px solid var(--color-utility-milk);
  padding: .25em;
}
