import React from 'react';
import './{{properCase componentName}}.css';

const {{properCase componentName}} = props => (
  <div className="c-{{dashCase componentName}}">
    {props.children}
  </div>
);

export default {{properCase componentName}};
