/******************************************************************************/
/* Lettering                                                                  */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-lettering {
  display: flex;
  flex-wrap: wrap;
}

/* Elements */
/******************************************************************************/
.c-lettering__meta {
  flex: 0 0 45%;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: 1em;
  max-width: 245px;
}

.c-lettering__content {
  flex: 1 1 0%;
  min-width: 200px;
}
