/******************************************************************************/
/* Lettering                                                                  */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-lettering {
  display: flex;
  flex-wrap: wrap;
}

/* Elements */
/******************************************************************************/
.c-lettering__meta {
  flex: 0 0 45%;
  max-width: 245px;
  padding-right: 1em;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
}

.c-lettering__lettering-count {
  color: var(--color-utility-dove);
  position: absolute;
  right: calc(100% + 1em);
  top: .3em;
}

.c-lettering__content {
  flex: 1 1 0;
  min-width: 200px;
}
