.Lettering {
  display: flex;
  flex-wrap: wrap;
}

.Lettering__meta {
  flex: 0 0 45%;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: 1em;
  max-width: 245px;
}

.Lettering__content {
  flex: 1 1 0%;
  min-width: 200px;
}
