/******************************************************************************/
/* Formatting Guide                                                           */
/******************************************************************************/
/*
 * 1. This is to ensure there is margin after each title, except for the first.
*/
/* Block */
/******************************************************************************/
.c-formatting-guide {
  margin: 0;
}

/* Elements */
/******************************************************************************/
.c-formatting-guide__title {
  display: inline-block;
}

.c-formatting-guide__title:nth-of-type(n+2) { /* 1 */
  margin-top: 1em;
}

.c-formatting-guide__description {
  margin-left: 0;
}

.c-formatting-guide__code {
  background-color: var(--color-utility-milk);
  border-radius: 5px;
  color: var(--color-utility-charcoal);
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
}
