/******************************************************************************/
/* Themes                                                                     */
/******************************************************************************/
/*
 * 1. vertical background for the word count gutter.
 *    TODO: How will we scope this?
*/

/* Light Theme */
/******************************************************************************/
.cm-s-comic-writer-light .cm-page {
  color: var(--color-primary-cool);
  font-weight: bold;
}

.cm-s-comic-writer-light .cm-panel {
  color: var(--color-utility-charcol);
  font-weight: bold;
}

.cm-s-comic-writer-light .cm-dialogue,
.cm-s-comic-writer-light .cm-caption,
.cm-s-comic-writer-light .cm-sfx {
  color: var(--color-primary-cactus);
}

/* Gutters */
.word-counts { /* 1 */
  width: 2em;
  border-right: 1px solid var(--color-utility-alabaster);
}

.CodeMirror-gutter-elt {  /* 1 */
  color: var(--color-utility-dove);
}

.CodeMirror-gutters {  /* 1 */
  border-right: none;
  background-color: transparent;
}
