/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700'); */

.cm-s-comic-writer-light {
  /* font-family: 'IBM Plex Mono', monospace; */
}

.cm-s-comic-writer-light .cm-page {
  color: var(--color-primary-cool);
  font-weight: bold;
}

.cm-s-comic-writer-light .cm-panel {
  color: var(--color-utility-charcol);
  font-weight: bold;
}

.cm-s-comic-writer-light .cm-dialogue,
.cm-s-comic-writer-light .cm-caption,
.cm-s-comic-writer-light .cm-sfx {
  color: var(--color-primary-cactus);
}

/* Gutters */

/* vertical background for the word count gutter */
.word-counts {
  width: 2em;
}