/******************************************************************************/
/* Button                                                                     */
/******************************************************************************/
/*
 * 1. Funky units here to ensure that the "X" aligned correctly.
 * 2. Resetting the margin top, to overide the Lobotomized owl selector *+*
 * 3. Overiding child button. It' might be worth making a direct style to the
 *    Button component later. --close?
*/

/* Block */
/******************************************************************************/
.c-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Elements */
/******************************************************************************/

.c-modal__dialouge {
  border-radius: 2px;
  padding: 1em;
  background-color: var(--color-utility-pure);
  min-width: 20em;
  max-width: 50vw !important;
  position: relative;
}

.c-modal__body {}

.c-modal__body > * + * {
  margin-top: 1em;
}

.c-modal__title {
  padding-bottom: .5em;
  border-bottom: 1px solid var(--color-utility-milk);
}

.c-modal__content {
  overflow-y: scroll;
  min-height: 20vh;
  max-height: calc(80vh - 4em);
}

.c-modal__close {
  position: absolute;
  right: .55em; /* 1 */
  top: .15em; /* 1 */
  margin-top: 0; /* 2 */
  font-size: 1.7em; /* 1 */
}

.c-modal__close > * {
  padding: 0; /* 3 */
  background-color: transparent; /* 3 */
  box-shadow: none; /* 3 */
}

.c-modal__close > *:hover {
  background-color: transparent; /* 3 */
}
