/******************************************************************************/
/* Drawer                                                */
/******************************************************************************/

/* Notes:
 * 1.
*/

/* Block */
/******************************************************************************/
.c-drawer {
  background-color: var(--color-utility-pure);
  border-top: 1px solid var(--color-utility-milk);
  min-height: 8em;
  height: 20vh;
  padding: 1em;
}

/* Element */
/******************************************************************************/
/* .c-drawer__element {} */

/* Modifier */
/******************************************************************************/
/* .c-drawer--modifier {} */

/* Misc */
/******************************************************************************/
