/******************************************************************************/
/* Drawer                                                                     */
/******************************************************************************/

/* Notes:
 * 1. Using flexbox to propigate an even height to the children.
*/

/* Block */
/******************************************************************************/
.c-drawer {
  background-color: var(--color-utility-pure);
  box-shadow: 0 -.25em 0 0 var(--color-effect-ghost);
  padding: 1em;
  transform: translateY(100vh);
  transition: transform .5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Element */
/******************************************************************************/
/* .c-drawer__element {} */

/* Modifier */
/******************************************************************************/
.c-drawer--is-open {
  transform: translateY(0);
  transition: transform .2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.c-drawer--propagate-height {
  display: flex; /* 1 */
}

/* Misc */
/******************************************************************************/
