/******************************************************************************/
/* Metadata                                                                   */
/******************************************************************************/
/*
 * 1. This makes sure that when two metat data items are next to each-other they
 *    they look as one unit.
 * 2. Pushing the back to line up the box model.
*/
/* Block */
/******************************************************************************/
.c-metadata {
  background-color: var(--color-utility-milk);
  margin-left: -.8em; /* 2 */
  margin-right: -.8em; /* 2 */
  padding: .5em .8em;
}

.c-metadata + .c-metadata {
  padding-top: 0; /* 1 */
}
/* Elements */
/******************************************************************************/
/* .c-metadata__content {} */
