/******************************************************************************/
/* Metadata                                                                   */
/******************************************************************************/
/*
 * 1. This makes sure that when two metat data items are next to each-other they
 *    they look as one unit.
*/

/* Block */
/******************************************************************************/
.c-metadata {
  padding: .5em .8em;
  background-color: #eee;
}

.c-metadata + .c-metadata {
  padding-top: 0; /* 1 */
}
/* Elements */
/******************************************************************************/
.c-metadata__content {}
