/******************************************************************************/
/* Page                                                                       */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-page {
  padding-top: 3em;
  position: relative;
}

.c-page > * + * {
  margin-top: 1em;
}

/* Elements */
/******************************************************************************/
.c-page__title {
  align-items: center;
}

.c-page__gutter {
  color: var(--color-utility-dove);
  position: absolute;
  right: calc(100% + 1em);
  top: 4.1em;
}
