.Page {
  padding-top: 1em;
}

.Page > * + * {
  margin-top: 1em;
}

.Page__title {
  display: flex;
  align-items: center;
}

.Page__panel-count {
  display: block;
  flex: 1 1 0%;
  text-align: right;
  color: #767676;
}
