/******************************************************************************/
/* Tooltip Popover                                                */
/******************************************************************************/

/* Notes:
 * 1. Z-index is set to 2 to clear the status-line/bar. If status bar didn't
 *    exsist, we would use z-index 1 here.
 * 2. This offesets the tooltip by -3px to make the "triangle" point in the
 *    center of the object.
*/

/* Block */
/******************************************************************************/
.c-tooltip-popover {
  background-color: var(--color-utility-pure);
  border-radius: 5px;
  border: 1px solid var(--color-utility-milk);
  bottom: 100%;
  box-shadow: .1em .1em 0 0 var(--color-effect-ghost);
  left: -3px; /* 2 */
  padding-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  user-select: none;
  z-index: 2; /* 1 */
}

.c-tooltip-popover::after,
.c-tooltip-popover::before {
  border-style: solid;
  border-width: .5em .5em 0 .5em;
  content: '';
  height: 0;
  position: absolute;
  top: 100%;
  width: 0;
}

.c-tooltip-popover::after {
  border-color: var(--color-utility-pure) transparent transparent;
  left: 3px;
  top: 100%;
}

.c-tooltip-popover::before {
  border-color: var(--color-effect-ghost) transparent transparent;
  left: 3px;
  top: calc(100% + .1em);
}

/* Element */
/******************************************************************************/
/* .c-tooltip-popover__element {} */

/* Modifier */
/******************************************************************************/
.c-tooltip-popover--hidden {
  display: none;
}

.c-tooltip-popover--no-wrap {
  white-space: nowrap;
}
/* Misc */
/******************************************************************************/
