/******************************************************************************/
/* Outline                                                                    */
/******************************************************************************/
/*
 * 1. Firefox Scrollbars
 * 2. Webkit Scrollbars
 * 3. Scroll Snapping
 */

/* Block */
/******************************************************************************/
.c-outline {
  font-size: .8em;
  max-width: 20em;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: .5em;
  padding-right: .5em;
  user-select: none;
  scroll-snap-type: y mandatory; /* 3 */
  /* cosmetics */
  scrollbar-color: var(--color-utility-pure) var(--color-utility-milk); /* 1 */
  scrollbar-width: thick; /* 1 */
}

.c-outline::-webkit-scrollbar { /* 2 */
  /* cosmetics */
  width: 7px;
}

.c-outline::-webkit-scrollbar-track { /* 2 */
  /* cosmetics */
  background: var(--color-utility-milk);
}

.c-outline::-webkit-scrollbar-thumb { /* 2 */
  /* cosmetics */
  background-color: var(--color-utility-pure);
  border-radius: 2px;
  border: 1px solid var(--color-utility-milk);
}

/* Element */
/******************************************************************************/
.c-outline__spread-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.c-outline__spread-list > * + * {
  margin-top: 1em;
}

.c-outline__spread-list-item {
  position: sticky; /* 3 */
  scroll-snap-align: start; /* 3 */
  top: 0; /* 3 */
  /* cosmetics */
  background-color: white;
  color: var(--color-primary-cool);
  font-weight: bold;
}

.c-outline__panel-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.c-outline__panel-list > * + * {
  margin-top: .25em;
}

.c-outline__panel-list-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.c-outline__panel-list-item-number {
  margin-right: .25em;
  /* cosmetics */
  font-weight: bold;
}

.c-outline__spread-list-item,
.c-outline__panel-list-item {
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .1em;
  /* cosmetics */
  border-radius: 100px;
  transition: background-color .1s, color .1s;
}

.c-outline__spread-list-item:hover,
.c-outline__panel-list-item:hover {
  /* cosmetics */
  background-color: var(--color-utility-milk);
}

/* Modifier */
/******************************************************************************/
.c-outline__spread-item--current,
.c-outline__panel-list-item--current,
.c-outline__spread-item--current:hover,
.c-outline__panel-list-item--current:hover {
  cursor: default;
  /* cosmetics */
  background-color: var(--color-primary-cool);
  background-image: none;
  color: var(--color-utility-pure);
}
