/******************************************************************************/
/* Outline                                                                    */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-outline {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: .5em;
  padding-right: .5em;
  max-width: 20em;
  user-select: none;
  font-size: .8em;
  border-right: 1px solid var(--color-utility-milk);
}

/* Element */
/******************************************************************************/
.c-outline__spread-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.c-outline__spread-list > * + * {
  margin-top: 1em;
}

.c-outline__spread-list-item {
  font-weight: bold;
  color: var(--color-primary-cool);
  position: sticky;
  top: 0;
  background-color: white;
}

.c-outline__panel-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.c-outline__panel-list > * + * {
  margin-top: .25em;
}

.c-outline__panel-list-item {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.c-outline__panel-list-item-number {
  margin-right: .25em;
  font-weight: bold;
}

.c-outline__spread-list-item,
.c-outline__panel-list-item {
  border-radius: 100px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .1em;
  transition: background-color .1s, color .1s;
  cursor: pointer;
}

.c-outline__spread-list-item:hover,
.c-outline__panel-list-item:hover {
  background-color: var(--color-utility-milk);
}

/* Modifier */
/******************************************************************************/
.c-outline__spread-item--current,
.c-outline__panel-list-item--current,
.c-outline__spread-item--current:hover,
.c-outline__panel-list-item--current:hover {
  background-color: var(--color-primary-cool);
  color: var(--color-utility-pure);
  background-image: none;
  cursor: default;
  text-decoration: none;
}
