/******************************************************************************/
/* Outline Item                                                               */
/******************************************************************************/
/*
 * 1.
 */

/* Block */
/******************************************************************************/
.c-panel-item {}

/* Element */
/******************************************************************************/
.c-panel-item__number {
  margin-right: .25em;
  /* cosmetics */
  font-weight: bold;
  margin-left: .5em;
}

/* Modifier */
/******************************************************************************/
