/******************************************************************************/
/* Outline Item                                                               */
/******************************************************************************/
/*
 * 1.
 */

/* Block */
/******************************************************************************/
.c-spread-item {
  scroll-snap-align: start; /* 3 */
  /* cosmetics */
  color: var(--color-primary-cool);
  font-weight: bold;
}

.c-spread-item--current {
  /* cosmetics */
  color: var(--color-utility-pure);
  font-weight: bold;
}

/* Element */
/******************************************************************************/

/* Modifier */
/******************************************************************************/
.c-spread-item--scroll-snap { /* 3 */
  scroll-snap-align: start;
}
