.Script {
  overflow-x: scroll;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  font-family: sans-serif;
  width: 100%;
  color: #232323;
  flex: 1 1 50%;
}

.Script > * + * {
  margin-top: 1em;
}

.Script__scrollpast {
  padding-bottom: 25vh;
}
