/******************************************************************************/
/* Script                                                                     */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-script {
  overflow-x: hidden;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  font-family: sans-serif;
  width: 100%;
  color: #232323;
  flex: 1 1 50%;
  background-color: white;
  outline: none;
}

.c-script > * + * {
  margin-top: 1em;
}

/* Elements */
/******************************************************************************/
.c-script__content {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
}
.c-script__scrollpast {
  padding-bottom: 25vh;
}
