/******************************************************************************/
/* Variables                                                                  */
/******************************************************************************/
:root {
  /* Callout Colors */
  --color-primary-cactus: rgb(46, 125, 50);
  --color-primary-cool: rgb(11, 117, 203);
  --color-primary-dark-magenta: rgb(166, 87, 166);
  --color-primary-mocha: rgb(130, 74, 0);
  /* Utility Colors */
  --color-utility-pure: rgb(255, 255, 255);
  --color-utility-alabaster: rgb(251, 251, 251);
  --color-utility-milk: rgb(238, 238, 238);
  --color-utility-dove: rgb(118, 118, 118);
  --color-utility-charcoal: rgb(35, 35, 35);
  --color-utility-black: rgb(0, 0, 0);
  /* Effects */
  --color-effect-ghost: rgba(0, 0, 0, .1);
}

/******************************************************************************/
/* Resets                                                                     */
/******************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid var(--color-primary-cool);
}

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

blockquote,
pre {
  margin: 0;
}

input,
textarea,
select,
button {
  font-size: inherit;
}

hr {
  border: 0;
  border-bottom: 2px solid var(--color-utility-milk);
  margin-bottom: 1em;
}

textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(0, 0, 0, .5);
}

textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

a {
  color: var(--color-primary-cool);
  text-decoration: none;
}

a:hover {
  box-shadow: inset 0 -2px 0 0 var(--color-primary-cool);
}

a:focus {
  outline: 1px solid inherit;
}

/******************************************************************************/
/* Utility                                                                    */
/******************************************************************************/

/* Font Sizes */
/******************************************************************************/

.u-font-size--lin {}

.u-font-size--marcus {
  font-size: 1.6em;
}

.u-font-size--maria {
  font-size: 1.2em;
}

.u-font-size--saya {
  font-size: .7em;
}

.u-font-size--billy {
  font-size: .9em;
}

.u-font-size--willie {}

.u-font-size--petra {}

/* Hiding */
/******************************************************************************/

.u-hide--visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
