/******************************************************************************/
/* Writer                                                                     */
/******************************************************************************/

/* Block */
/******************************************************************************/
.c-writer {
  background-color: var(--color-utility-alabaster);
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}
